<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link type="text/css" rel="stylesheet" href="style.css">

    <title>Roman Numeral Converter</title>
  </head>

  <body>
    <h1 class="enter-number">Enter the number you want to convert.</h1>
      <form action='/enter_number' method='post'>
        <label for='number'>
          Number
          <input type='text' name ='enter_num'>
          <br>
          <input type='submit' value='Convert'>
        </label>
  </body>
</html>
