<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link type="text/css" rel="stylesheet" href="style.css">

    <title>Roman Numeral Converter</title>
  </head>

  <body>
    <h1 class="enter-number">This is the number you entered.</h1>
    <br>
      <%=@numeral%>
    <br>
      <h1 class="enter-number">Here's your roman numeral.</h1>
    <br>
      <%=@numeral%>
    <form action='/result' method='get'>
          <input type="submit" value="Convert another number">

  </body>
</html>
