<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link type="text/css" rel="stylesheet" href="style.css">

    <title>Roman Numeral Converter</title>
  </head>

  <body>
    <div class='content'>
      <div class='user_num_div'>
        <h1 class="enter-number">This is the number you entered.</h1>
        <h1><%=@enter_num%></h1>
      </div>
      <div class='roman_num_div'>
          <h1 class="enter-number">Here's your roman numeral.</h1>
          <h1><%=@roman_numeral.roman_num%></h1>
      </div>
   </div>
   <div class='enter_num'>
   <form action='/enter_number' method='post'>
     <label for='number'>
       <input type='text' name ='enter_num'>
       <input type='submit' value='Convert another number'>
     </label>
   </div>
  </body>
</html>
